//FONT FAMILY

//COLORS

$primary-color: #009c33;
$primary-color-light: #e6f5eb;
$primary-color-light-2: #b3e1c2;
$secondary-color: #ff7200;
$secondary-color-dark: #e18e41;
$secondary-color-dark-2: #db702b;
$secondary-color-light: #ff9632;

$color-red: #e60018;
$color-white: #ffffff;
$color-black: #0a0a0a;
$color-black-two: #000000;

//BREAK POINTS

$large:81.25em; //1300px
$medium:56.25em;//900px
$small:37.5em;//600px