//GRID CSS

.grid {
  display: grid;
  grid-template-columns: repeat(14, 7.2rem);
  grid-column-gap: 2.4rem;
  justify-content: center;
  @media only screen and (max-width:$small) {
    grid-template-columns: repeat(2,45%);
    grid-column-gap: 2.4rem;
  }
}
